@import url(basic.css);

.kbd {
    font-family: monospace;
    font-size: 90%;
    border: 1px solid #C0C0C0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 2px;
    background-color: #F0F0F0;
}

.time {
    background-color: #FFFFCC;
    padding: 2px;
}
